* {
  box-sizing: border-box;

}

body,
html {
 
  height: 100%;
  
}

body {
    padding: 0;
    margin: 0;
  
  }

  #root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  

    > main{
        padding: 20px;
        flex: 1;
        display: flex;
    }
    > section{
        
        flex: 1;
    }
  }
    

.layer {
  position: relative;
  width: 1080px;
  height: 1080px;
  margin: auto;
}

#optionLayer {
  background-image: url("option_layer.png");
  background-size: 972px 605px; 
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}

@font-face {
  font-family: "GothamCondensed";
  src: url("assets/fonts/GothamCond-XBlack.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

#binIchReich {
  position: absolute;
  top: 51px;
  left: 272px;
  font-family: "GothamCondensed", sans-serif;
  font-size: 70px;
  color: white;
  line-height: 1;
}

@font-face {
  font-family: "GothamCondensedUltra";
  src: url("assets/fonts/GothamCond-Ultra.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

#findenSieHerausText {
  position: absolute;
  top: 198px; 
  left: 137px; 
  width: 807px; 
  height: 40px; 
  font-family: "GothamCondensedUltra", sans-serif;
  font-size: 40.55pt;
  color: white;
  line-height: 40px; 
  white-space: nowrap; 
  overflow: hidden; 
  
}

#householdQuestion {
  position: absolute;
  top: 424px; 
  left: 124px; 
  width: 834px; 
  height: 27px; 
  font-family: "Gotham", sans-serif;
  font-weight: bold; 
  font-size: 37pt; 
  color: red; 
  line-height: 86.13pt;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 10;
}

.pay-scale,
.indicator {
  position: absolute;
}

.option-layer-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: auto;
}

.slider-container {
  position: absolute;
  top: 277px; 
  left: 140px; 
  width: 802px; 
  height: 91px; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

input[type="range"] {
  width: 802px; 
  position: relative;
  top: -34px; 
}


.slider-container > label,
.slider-container > output {
  position: absolute;
  width: 100%;
  text-align: center;
}

@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/Gotham-Black.otf") format("opentype");
  
}

.slider-container > label {
  position: absolute;
  width: 556px; 
  height: 30px; 
  left: 24px; 
  top: 45px; 
  font-family: "Gotham", sans-serif;
  font-size: 36px;
  color: white; 
  line-height: 30px; 
 
  overflow: hidden;
  
}

.slider-container > output {
  position: absolute;
  width: 114px; 
  height: 31px;
  left: 656px; 
  top: 44px; 
  font-family: "Gotham", sans-serif;
  font-weight: bold; 
  font-size: 41px; 
  color: white; 
  line-height: 31px; 
  text-align: center; 
  background: transparent; 
  border: none;
}

.age-controls {
  /* position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10%; */
}

.age-control.younger {
  position: absolute;
  top: 545px;
  left: 45px;
  .minus {
    background-color: #b28181;
    color: #ffffff;
    font-size: 40px;
  }
  .add {
    background-color: #ffffff;
    color: #bc0000;
    font-size: 40px;
  }
}

.age-control.older {
  position: absolute;
  top: 545px;
  left: 798px;

  .minus {
    background-color: #b28181;
    color: #ffffff;
    font-size: 40px;
  }

  .add {
    background-color: #ffffff;
    color: #bc0000;
    font-size: 40px;
  }
}

.age-control.younger label {
  position: absolute;
  width: 172px; 
  height: 67px; 
  left: 67px; 
  top: 638px; 
  font-family: "Gotham", sans-serif;
  font-weight: normal; 
  font-size: 36pt; 
  line-height: 40pt; 
  color: red; 
  text-align: center; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.age-control.older label {
  position: absolute;
  width: 145px; 
  height: 67px; 
  left: 835px; 
  top: 638px; 
  font-family: "Gotham", sans-serif;
  font-weight: normal; 
  font-size: 36pt; 
  line-height: 40pt; 
  color: red; 
  text-align: center; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}



.age-control {
  display: flex;
  align-items: center;
  justify-content: center;
}


.age-control button {
  width: 76px;
  height: 76px;
}
.age-control input {
  width: 75px;
  height: 76px;
  text-align: center;
}


#layer2 .pay-scale-container {
  position: relative;
  width: 576px;
  height: 625px;
  top: 350px; 
  left: 248px; 
  background-image: url("pay_scale_layer.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@font-face {
  font-family: "GothamBold";
  src: url("assets/fonts/Gotham-Bold.otf") format("opentype");
  
}

#calculate {
  position: absolute;
  top: 889px; 
  left: 287px; 
  width: 509px; 
  height: 58px; 
  font-family: "GothamBold", sans-serif;
  font-weight: bold;
  font-size: 50pt;
  color: white;
  background: transparent;
  border: none;
  text-shadow: 2px 3px 50px rgba(128, 128, 128, 0.5);
  text-align: center;
  display: flex; 
  justify-content: center; 
  align-items: center;
  
}
@media screen and (min-width: 1090px) {
  #calculate {
     top: 889px;
     left: 690px;
}
}
#layer2 .indicator {
  position: absolute;
  width: 882px; 
  height: 384px; 
  left: 50%;
  transform: translateX(-50%);
  
}

#layer2 .income-result {
  position: absolute;
  top: 15px; 
  right: 0;
  text-align: center;
}