body,
html {

  /* margin: 0;
  padding: 0;
  width: 100%; */
  height: 100%;
}

body, h1 {
    padding: 0;
    margin: 0;
  
  }
  main{
    padding: 20px;
    flex: 1;
    display: flex;
  }

  section{
    flex: 1;
  }
  
.layer {
  position: relative;
  width: 1080px;
  height: 1080px;
  margin: auto;
}

#optionLayer {
    
  background-image: url('option_layer.png');
    background-size: 972px 605px; 
    background-repeat: no-repeat;
}

input[type="range"] {
    width: 802px; 
    position: relative;
    top: -34px; 
}

@font-face {
    font-family: "GothamCondensed";
    src: url("assets/fonts/GothamCond-XBlack.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  

#binIchReich {
    position: absolute;
    top: 51px; 
    left: 272px; 
    font-family: "GothamCondensed", sans-serif;
    font-size: 70px;
    color: white;
    line-height: 1;
  }

  @font-face {
    font-family: "GothamCondensedUltra";
    src: url("assets/fonts/GothamCond-Ultra.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  #findenSieHerausText {
    position: absolute;
    top: 198px; 
    left: 137px; 
    width: 807px; 
    height: 40px; 
    font-family: "GothamCondensedUltra", sans-serif;
    font-size: 40.55pt;
    color: white;
    line-height: 40px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
  }
  
  #householdQuestion {
    position: absolute;
    top: 424px; 
    left: 124px; 
    width: 834px; 
    height: 27px; 
    font-family: "Gotham", sans-serif;
    font-weight: bold;
    font-size: 37pt;
    color: red; 
    line-height: 86.13pt; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 10;
  }
  

.hidden {
  display: none;
}

.pay-scale,
.indicator {
  position: absolute;
}

.option-layer-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: auto;
}



.slider-container > output {
    position: absolute;
  width: 114px; 
  height: 31px;
  left: 656px; 
  top: 44px; 
  font-family: "Gotham", sans-serif;
  font-weight: bold; 
  font-size: 41px; 
  color: white; 
  line-height: 31px;
  text-align: center; 
  background: transparent; 
  border: none; 
    /* position: absolute;
    top: 15px; 
    left: 44px; 
    width: 972px; 

    h1{
        font-size: medium;
    } */
}

.slider-container > label {
    position: absolute;
    width: 556px; 
    height: 30px; 
    left: 24px; 
    top: 45px; 
    font-family: "Gotham", sans-serif;
    font-size: 36px;
    color: white; 
    line-height: 30px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  .slider-container > label,
.slider-container > output {
  /* position: absolute; */
  width: 100%;
  text-align: center;
}
.age-controls {
  /* position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10%; */
}


.age-control.younger {
  position: absolute;
  top: 545px; 
  left: 45px; 
  .minus{
    background-color: #b28181;
    color: #FFFFFF;
    font-size: 40px;
  }
  .add{
    background-color: #FFFFFF;
    color: #bc0000;
    font-size: 40px;
  }
 
}


.age-control.older {
  position: absolute;
  top: 545px; 
  left: 798px; 

  .minus{
    background-color: #b28181;
    color: #FFFFFF;
    font-size: 40px;
  }

    .add {
        background-color: #FFFFFF;
        color: #bc0000;
        font-size: 40px;
    }
    
}

/* .age-control label {
  font-size: 14px;
  margin-top: 5px; 
  text-align: center;
} */

.age-control {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* .age-control button,
.age-control span {
    margin: 0 1px; 
} */


.age-control button {
    width: 76px;
    height: 76px;
}
.age-control input {
    width: 75px;
    height: 70px;
    text-align: center;
}

/* .age-control span {
  
} */

#calculate {
    position: absolute;
    top: 889px;
    left: 258px;
    width: 509px;
    height: 58px;
    font-family: "Gotham", sans-serif;
    font-weight: bold;
    font-size: 50pt;
    color: white;
    background: transparent;
    border: none;
    text-shadow: 2px 3px 50px rgba(128, 128, 128, 0.5);
}


#layer2 .pay-scale-container {
    position: relative;
    width: 576px;
    height: 625px;
    top: 350px; 
    left: 248px; 
    background-image: url('pay_scale_layer.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#layer2 .indicator {
    position: absolute;
    width: 882px; 
    height: 384px; 
    left: 50%;
    transform: translateX(-50%);

}
#layer2 .income-result {
    position: absolute;
    top: 15px; 
    left: 0;
    right: 0;
    text-align: center;
}
