@font-face {
	font-family: "GothamCondensed";
	src: url("assets/fonts/GothamCond-XBlack.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GothamCondensedUltra";
	src: url("assets/fonts/GothamCond-Ultra.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GothamBold";
	src: url("assets/fonts/Gotham-Bold.otf") format("opentype");
}

@font-face {
	font-family: "GothamBook";
	src: url("assets/fonts/Gotham-Book.otf") format("opentype");
}

* {
	box-sizing: border-box;
}

body,
html {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
}

#root {
	min-height: 100%;
	display: flex;
	flex-direction: column;


	>main {
		padding: 20px;
		flex: 1;
		display: flex;
	}

	>section {
		flex: 1;
	}
}


.layer {
	position: relative;
	width: 1080px;
	height: 1080px;
	margin: auto;
}

.hidden {
	display: none;
}

#binIchReich {
	position: absolute;
	font-family: "GothamCondensed", sans-serif;
	font-size: 115.66px;
	color: white;
	line-height: 1;

	width: 586.5px;
	height: 148.37px;
	top: 15.31px;
	left: 247.5px;
	background-color: #bc0000;
	display: flex;
	align-items: center;
	justify-content: center;
}

#findenSieHerausText {
	position: absolute;
	top: 198px;
	left: 137px;
	width: 807px;
	height: 40px;
	font-family: "GothamCondensedUltra", sans-serif;
	font-size: 54.55px;
	color: white;
	line-height: 40px;
	white-space: nowrap;
	overflow: hidden;

}

#householdQuestion {
	position: absolute;
	top: 424px;
	left: 124px;
	font-family: "GothamBold", sans-serif;
	font-size: 38.83px;
	;
	color: #aa3f49;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	z-index: 10;
}

.slider-container {
	position: absolute;
	top: 247px;
	left: 139px;
	width: 802px;
	height: 93px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-radius: 15px;
	border: 1px solid white;
}

.slider-container::after {
	content: "";
	position: absolute;
	width: 800px;
	height: 29px;
	top: 0px;
	left: 0px;
	background: transparent;
	border: 1px solid white;
	border-radius: 1px;
	pointer-events: none;
}

input[type="range"] {
	width: 800px;
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	position: absolute;
	top: 0;
	margin: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 29px;
	background: transparent;
	border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 35px;
	height: 35px;
	background: url("assets/euro.png") no-repeat center center;
	background-size: cover;
	border-radius: 50%;
}

.slider-container>label,
.slider-container>output {
	position: absolute;
	width: 100%;
	text-align: center;
}


.slider-container>label {
	position: absolute;
	width: 556px;
	height: 30px;
	left: 24px;
	top: 45px;
	font-family: "Gotham", sans-serif;
	font-size: 36px;
	color: white;
	line-height: 30px;
	overflow: hidden;
}

.slider-container>output {
	position: absolute;
	width: 114px;
	height: 31px;
	left: 656px;
	top: 44px;
	font-family: "Gotham", sans-serif;
	font-weight: bold;
	font-size: 41px;
	color: white;
	line-height: 31px;
	text-align: center;
	background: transparent;
	border: none;
}

.age-control.younger {
	top: 546px;
	left: 45px;

	.minus {
		background-color: #b28181;
		color: #ffffff;
		font-size: 40px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	.add {
		background-color: #ffffff;
		color: #bc0000;
		font-size: 40px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}

}

.age-control.older {
	top: 546px;
	left: 798px;

	.minus {
		background-color: #b28181;
		color: #ffffff;
		font-size: 40px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	.add {
		background-color: #ffffff;
		color: #bc0000;
		font-size: 40px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
}

.age-control .age-label {
	display: block;
	text-align: center;
	margin-top: 10px;
	color: #aa3f49;
	font-family: "GothamBook", sans-serif;
	font-size: 36px;
}


.age-control {
	display: flex;
	position: absolute;
	width: 218px;
	height: 71px;
	align-items: center;
	justify-content: space-between;

	border-radius: 12px;
	padding: 10px;
}


.age-control button,
.age-control span {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.age-control button:active {
	transform: scale(0.95);
	background-color: #bbb;
}

.age-control input[type="text"] {
	text-align: center;
	border: none;
	background-color: transparent;
	border-radius: 1px;
	width: 100%;
}

.age-control button {
	width: 30%;
	background-color: #ccc;
	border: none;
	border-radius: 17.5px;
}

.age-control span {
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.age-control label {
	position: absolute;
	width: 219px;
	height: 88px;
	bottom: -88px;
	left: 0;
	font-family: "Gotham", sans-serif;
	font-size: 36pt;
	color: red;
	text-align: center;
}

.age-control.younger input[type="text"],
.age-control.older input[type="text"] {
	font-family: "Gotham", sans-serif;
	font-size: 36px;
	color: white;
	text-align: center;
	width: 75px;
	height: 50px;
	background-color: #d7aaac;
}

#calculate {
	position: absolute;
	top: 889px;
	left: 287px;
	font-family: "GothamBold", sans-serif;
	font-weight: bold;
	font-size: 60pt;
	color: white;
	background: transparent;
	border: none;
	text-shadow: 2px 3px 50px rgba(128, 128, 128, 0.5);
	transition: background-color 0.3s ease;
	text-align: center;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;

}

@media screen and (min-width: 1090px) {
	#calculate {
		top: 889px;
		left: 690px;
	}
}

#calculate:hover {
	color: #bc0000;
}


#layer2 {
	position: relative;
	width: 1080px;
	height: 1080px;
	margin: auto;
}

#layer2 .indicator {
	position: absolute;
	width: 882px;
	height: 384px;
	left: 50%;
	transform: translateX(-50%);
}

#layer2 .income-result {
	position: absolute;
	top: 15px;
	left: 0;
	right: 0;
	text-align: center;
}

.layer2-title {
	font-family: "GothamBold", sans-serif;
	font-size: 42px;
	transform: translateY(100%);
	position: absolute;
	top: 0;
	left: 0;
	transition: all 1s ease-in-out;
	width: 100%;
}

#binIchReichLayer2 {
	position: absolute;
	width: 586.5px;
	height: 148.37px;
	top: 15.31px;
	left: 247.5px;
	background-color: #bc0000;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "GothamCondensed", sans-serif;
	font-size: 115px;
}


.layer2-title-container {
	position: absolute;
	top: 220px;
	width: 100%;
	text-align: center;
	overflow: hidden;
	height: 48px;
}

.active .layer2-title {
	transform: translateY(0);
}


.pay-scale {
	position: absolute;
	width: 576px;
	height: 625px;
	top: 350px;
	left: 248px;
}

.indicator {
	position: absolute;

	left: 99px;
	bottom: 0;
}

.piggy-bank-scales {
	position: absolute;
	width: 879px;
	height: 431px;
	top: 349px;
	left: 101px;
}

#value2000,
#value3000,
#value4000,
#value5000,
#value6000,
#value7000 {
	font-family: "GothamBook", sans-serif;
	font-size: 30pt;
	color: black;
	position: absolute;
}

#value2000 {
	left: 470px;
	top: 881px;
}

#value3000 {
	left: 479px;
	top: 763px;
}

#value4000 {
	left: 477px;
	top: 654px;
}

#value5000 {
	left: 479px;
	top: 545px;
}

#value6000 {
	left: 478px;
	top: 435px;
}

#value7000 {
	left: 482px;
	top: 325px;
}

/* --  ---- */
.scene {
	background-image: url("assets/background_pink.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 1080px;
	width: 1080px;
	position: relative;
	margin: auto;
}

.scales-container {
	position: absolute;
	bottom: 105px;
	transition: height 1s ease-in-out;
	left: 0;
	width: 100%;
	overflow: hidden;
	height: 0;
}

.active .scales-container {
	height: 625px;
}

.scales-image {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 870px;
	object-fit: cover;
}

.line-container {
	position: absolute;
	top: 350px;
	width: 364px;
	overflow: hidden;
}

.line-container.left {
	left: 100px;
}

.line-container.right {
	right: 100px;
}

.line {
	height: 2px;
	background-color: #fff;
	opacity: 0.3;
	margin-bottom: 105px;
	transition: all 1s ease-in-out;
}

.line-container.left .line {
	transform: translateX(100%);
}

.line-container.right .line {
	transform: translateX(-100%);
}

.active .line {
	transform: translateX(0) !important;
}